@import "./reset.css";

html {
  height: 100%;
}

body {
  min-height: 100vh;
}

nav {
}

nav #nav-logo {
}

nav #nav-logo svg {
}

nav #nav-links {
}

nav #nav-links a {
}

nav #nav-links button {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
